* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom right, rgb(228, 173, 173), rgb(176, 221, 176));
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

header {
    background-image: linear-gradient(to right, rgb(248, 0, 0), yellowgreen);
    padding: 15px;
    display: flex;
    width: 100%;
    border: 1px solid black;
    border-radius: 0px 0px 5px 5px;
}

.main-menu {
    justify-self: center;
    align-self: flex-start;
}

.quote {
    padding: 10px;
    font-size: 20px;
}

.heading>h1 {
    padding: 15px 100px 15px 15px;
    font-size: 40px;
    font-family: cursive;
}

.main-menu>h2 {
    display: inline-block;
    font-size: 30px;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-menu>h2>a {
    color: black;
    text-decoration: none;
}

.main-menu>h2>a:hover {
    text-decoration: underline;
}

.main-content {
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
}

.cafe-inside {
    margin: 10px;
    width: 99%;
    background-color: rgb(70, 12, 12);
    border-radius: 15px;
    display: flex;
        flex-direction: row;
        justify-content: center;
}

img {
    border-radius: 10px;
}

article {
    margin: 10px;
    align-self: center;
    color: whitesmoke;
}

p {
    font-size: 20px;
}

h3 {
    font-size: 30px;
    color: whitesmoke;
}

.cafe-inside>img {
    margin: 10px;
    width: 40%;
}

.latte-art {
    margin: 10px;
    width: 99%;
    background-color: rgb(70, 12, 12);
    border-radius: 15px;
    display: flex;
}

.latte-art>img {
    margin: 10px;
    width: 40%;
}

.video {
    margin: 10px;
    width: 99%;
    background-color:  rgb(70, 12, 12);
    border-radius: 15px;
    display: flex;
}

iframe {
    border-radius: 10px;
    border: 1px solid black;
    background-color: black;
    padding-bottom: 20px;
    margin: 10px;
    width: 40%;
}

embed {
    height: 900px;
    border-radius: 10px;
    width: 30%;
}

.pdf {
    margin: 20px;
    padding: 20px;
    width: 99%;
    background-color: rgb(70, 12, 12);
    border-radius: 15px;
    display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        
}

.pdf>h3 {
    text-decoration: underline;
    align-self: center;
}

footer {
    background-image: linear-gradient(to right, rgb(248, 0, 0), yellowgreen);
    padding: 15px;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px 5px 0px 0px;
    display: flex;
        flex-direction: row;
        justify-content: center;
}

.copyright {
    justify-self: center;
    flex-direction: column;
    text-align: center;
}

.lower-nav {
    display: flex;
}

.lower-nav>p>a {
    color: black;
    text-decoration: none;
    margin: 3px;
}

.lower-nav>p>a:hover {
    text-decoration: underline;
}

.labels {
    align-self: flex-end;
 }
 
 @media only screen and (max-width: 600px) { 
    
    p {
         font-size: 15px;
     }

     .heading>h1 {
         font-size: 30px;
     }

     .main-menu>h2 {
         font-size: 25px;
     }

     h3 {
         font-size: 20px;
     }

     .quote {
         font-size: 15px;
     }

     .lower-nav>p>a {
         font-size: 15px;
     }

     embed {
         width: 90%
     }
 }

 @media only screen and (max-width: 425px) {
    .lower-nav>p>a {
        font-size: 10px;
    }

    .copyright>p {
        font-size: 10px;
    }

    .main-menu>h2 {
        font-size: 20px;
    }
    
    header {
        display: flex;
            flex-direction: column;
    }
 }

 @media only screen and (max-width: 330px) {
    .lower-nav>p>a {
        font-size: 9px;
    }

    .copyright>p {
        font-size: 9px;
    }
 }

